@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

body {
	font-family: 'Fira Sans Condensed', sans-serif;
	max-width: 720px;
	min-height: 900px;
	margin: 10 auto;
	padding: 10px;
	font-weight: 200;
}

.header-text {
	font-size: 32px;
}

.posts-list {
	min-height: 720px;
}

.post-entry {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.timestamp {
	color: #727272;
}

.footer-text {
	font-size: 12px;

}